*
!.gitignore

!./

!.github/
!.github/**/
!.github/**/*

!.vscode/
!.vscode/extensions.json
!.vscode/launch.json

!docker/
!docker/*

!public/
!public/**/
!public/**/*

!src/
!src/**/
!src/**/*
src/backups/

!.dockerignore
!.prettierignore

!astro.config.ts


!.editorconfig
!generate-react-cli.json
!prettier.config.mjs
!tsconfig.json

!Dockerfile

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!LICENSE.md
!README.md
