<div class='w-full'>
    <div
        class='h-64 bg-[url("/static/images/chuttersnap-di4kDgU61yg-unsplash-lg.jpg")] bg-auto bg-center bg-no-repeat dark:bg-[url("/static/images/colin-watts-IbB-Sz__6GQ-unsplash-lg.jpg")] dark:bg-center'
    >
        &nbsp;
    </div>
</div>
