---
const includeScript = Astro.props.includeScript ?? true
---

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Pandora</title>

    {
        includeScript ? (
            <script is:inline src='/static/js/theme-enforcement.js' />
        ) : null
    }

    <slot />
</head>
