---
import HTMLHead from '@/components/materials/HTMLHead.astro'
// Astro.redirect('/articles/flailing-words')
Astro.redirect('./manifesto/chapter1')
---

<html>
    <HTMLHead>
        <script>
            window.location.replace(`/articles/manifesto/chapter1`)
        </script>
    </HTMLHead>
    <body> </body></html
>
