@reference "tailwindcss";

@theme {
    --scrollbar-gutter-auto: auto;
    --scrollbar-gutter-stable: stable;
    --scrollbar-gutter-both-edges: stable both-edges;

    --scrollbar-width-auto: auto;
    --scrollbar-width-thin: thin;
    --scrollbar-width-none: none;
}

@utility scrollbar-gutter-* {
    scrollbar-gutter: --value(--scrollbar-gutter- *);
    scrollbar-gutter: --value(
        'inherit',
        'initial',
        'revert',
        'revert-layer',
        'unset'
    );
}
