<h1>Hi there!</h1>

<div class='my-2'>Welcome to the Flailing Words project.</div>

<div class='my-2'>
    Flailing Words is the catch-all domain/project for various fun,
    future-focused or public good projects by ponderer, tinkerer and
    mixed/cross-media artist Nick Harrow that do not fit traditionalist
    categories.
</div>

<div class='my-2'>
    The Flailing Words banner will also be available for others to host their
    projects, if they fit under the banner.
</div>

<div class='my-2'>
    The mission for Flailing Words is to enable experiments and knowledge
    development that are aimed at future readiness and intended to follow the <a
        href='/articles/six-steps-into-the-future'>6 Steps Into The Future</a
    > pattern.
</div>
